 body {

 }

p {
  margin: 0;
}
.content_container {
  /* height: 100%; */
  background-position:center bottom;
  background-image: url(bg-img.jpg);
  background-size: cover;
  padding: 30px;
}
.content {
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 0px 0px 10px 10px;
}

.title {
  background-color: orange;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
}

.title p {
  color: #fff;
  font-weight: bold;
  
}

.items {
  padding: 30px;
  background-color: #fff;
}

.items  > * {
  margin-bottom: 10px;
  
}

.items .item06 {
  margin-bottom: 0;
  text-align: right;
  
}

.item-detail ul {
  margin: 0;
  padding: 0;
}

.item-detail li {
  list-style-type: none;
}

.item-detail li::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #333;
}

.content .item-title {
  color: orange;
  font-weight: bold;
  
}

.item-detail_sm {
  font-size: 0.6rem;
}

@media screen and (min-width: 801px),print {
  /* .content {
    width: 1000px;
  } */
  
  .items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .items > * {
    width: calc((100% - 60px) / 2);
    /* width: 50%; */
    /* background-color: gray; */
    
  }
  
  .items div:nth-child(2n+1) {
    margin-right: 10px;
    
  }
}
@media screen and (min-width: 1024px),print {
  body {
    width: 100vw;
  }

  .content_container {
    width: 100vw;
  }

  .content{
    width: 1000px;

  }
  
}